@using MyBlogWebsite.Models.ViewModels;
@model AuthorProfileVM



<style>
	.card {
		height: 350px;
		width: 100%;
		overflow: hidden;
		margin-bottom: 20px;
	}

		.card h5 {
			font-size: 1.2em;
			font-weight: bold;
			margin-top: 10px;
		}

		.card p {
			text-overflow: ellipsis;
			overflow: hidden;
			display: -webkit-box;
			-webkit-line-clamp: 5;
			-webkit-box-orient: vertical;
			font-size: 0.9em;
			margin-top: 10px;
		}
</style>



<div class="jumbotron jumbotron-fluid text-left">
    <h1 class="display-4">@Model.AuthorName</h1>
    <p class="lead">@Model.AboutMe</p>
</div>
<div class="container my-5">
    <h2 class="text-center">Makaleler</h2>
    <div class="card-deck">
        @foreach (var article in Model.Articles)
        {
            <div class="card mb-4">
                <div class="card-header">
                    <h5 class="font-weight-bold text-black-50">@article.ArticleTitle</h5>
                </div>
                <div class="card-body">
                    @article.Content
                </div>
                <div class="card-footer">
                    <a><i>@Model.AuthorName</i></a>
                </div>
            </div>
        }
    </div>
</div>
