@using MyBlogWebsite.Models.Concrete;
@using MyBlogWebsite.Models.ViewModels;
@model ArticleIndexVM
@{
	ViewData["Title"] = "Anasayfa";
}


@if (TempData["AuthorNotActivated"] != null)
{
	<div class="alert alert-warning">
		@TempData["AuthorNotActivated"]
	</div>
}


<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<style>
		* {
			box-sizing: border-box;
		}

		body {
			font-family: Arial;
			background: #f1f1f1;
			min-height: 100%;
			overflow: auto;
		}

		.header {
			padding: 30px;
			font-size: 40px;
			text-align: center;
			background: white;
		}

		.leftcolumn {
			float: left;
			width: 75%;
			max-width: 1000px;
		}

		.rightcolumn {
			float: left;
			width: 25%;
			height: 25%;
			max-width: 500px;
			margin-top: -700px;
		}

		.title {
			border-bottom: 1px solid black;
			padding-bottom: 10px;
			margin-bottom: 20px;
		}

		.article-content {
			width: calc(100% - 300px);
		}

		.topics {
			background-color: white;
			width: 100%;
			padding: 20px;
		}

		.card {
			background-color: whitesmoke;
			padding: 20px;
			margin-top: 20px;
			max-width: 800px;
			max-height: 350px;
		}

		.row:after {
			content: "";
			display: table;
			clear: both;
		}

		.footer {
			padding: 10px;
			text-align: center;
			background: #f1f1f1;
			margin-top: 5px;
		}

		#renk {
			color: #001f3f;
		}

		#trends {
			text-align: center;
			color: red;
		}


		.kart-title {
			font-size: 24px;
			font-weight: bold;
			text-align: center;
			margin-top: 20px;
		}

		.kart-content {
			font-size: 18px;
			margin-top: 20px;
			text-align: center;
		}

		.kart-details-button {

			text-align: right;
		}

	</style>
</head>
<body>

	<div class="header">
		<h2 style="text-shadow: 2px 2px gold;"><i>Raco's Bilgi Evi</i></h2>
	</div>

	@if (User.Identity.IsAuthenticated)
	{


	@*	<section>
			<br>
			<h3 class="text-left"><strong><i>Takip Ettiğiniz Kategorilere Göre Makaleleriniz</i></strong></h3>
			<br >
				@foreach (var article in Model.FavouriteArticles)
			{
				<div class="leftcolumn">


					<div class="card mb-3" style="width: 45rem;">
						<div class="card-body">
							<h5 class="kart-title">@article.ArticleTitle</h5>
							<hr style="width: 50%; margin: 0 auto 20px;">
							<p class="kart-content">@(article.Content.Length > 250 ? article.Content.Substring(0, 250) + "..." : article.Content)</p>
							<br>
							<div class="kart-details-button">
								<a asp-action="Inspect" asp-controller="Article" asp-route-id="@article.Id" class="btn btn-outline-warning"><i>Makalenin Detayını Gör</i></a>
							</div>
						</div>
					</div>

				</div>

			}
		</section>
		<hr />*@



		<section>
			<br>
			<h3 class="left-column text-left"><strong><i>En Çok Görüntülenme Alan Makaleler</i></strong></h3>
			<br >
			@foreach (var article in Model.Articles)
			{
				<div class="leftcolumn">


					<div class="card mb-3" style="width: 45rem;">
						<div class="card-body">
							<h5 class="kart-title">@article.ArticleTitle</h5>
							<hr style="width: 50%; margin: 0 auto 20px;">
							<p class="kart-content">@(article.Content.Length > 250 ? article.Content.Substring(0, 250) + "..." : article.Content)</p>
							<br>
							<div class="kart-details-button">
								<a asp-action="Inspect" asp-controller="Article" asp-route-id="@article.Id" class="btn btn-outline-warning"><i>Makalenin Detayını Gör</i></a>
							</div>
						</div>
					</div>

				</div>

			}
		</section>
	}
	else
	{

		<section>
			<br>
			<h3><strong><i>En Çok Görüntülenme Alan Makaleler</i></strong></h3>
			<br >
			@foreach (var article in Model.Articles)
			{
				<div class="leftcolumn">
					<div class="card">
						<div class="title">
							<h3 class="text-center" id="renk">@article.ArticleTitle</h3>
						</div>
						<p>
							@for (int i = 0; i < 4; i++)
							{
								<i>
									Yazarlarımızın paylaşımlarını ciddiye alıyoruz. İlgilendiğiniz makaleyi okumak istiyorsanız lütfen giriş yapınız.<br />
								</i>
							}
						</p>
					</div>
				</div>
			}
		</section>
	}
	<section>
		<div class="rightcolumn">
			<br />
			@if (User.Identity.IsAuthenticated)
			{
				<div class="card">
					<h3 class="text-center">Yazar Ayarları</h3>
					<br />
					<a href="/Author/EditProfile" class="btn btn-outline-dark">Düzenle</a>
					<br>
				</div>
			}
			<br />

			<div class="card">
				<h2 class="text-center">Amacımız</h2>
				<br />
				<p><i>Raco's Bilgi Evi, dilediğiniz konudaki makalelerinizi yayınlayıp okuyabileceğiniz bir yazar topluluğudur.<br /> Detaylı bilgi için lütfen <a href="/Home/Privacy">tıklayınız.</a></i></p>
			</div>

			<div class="card">

				<h3 class="text-center">İlginizi Çekebilir</h3>
				<br />

				@foreach (var topic in Model.Categories)
				{
					<div id="trends"> <a id="trends" class="text-center btn btn-outline-warning" asp-route-id="@topic.Id" asp-controller="Category" asp-action="Index">@topic.CategoryName</a></div>
					<br>
				}
			</div>
			<br />
			<br />
			<br />

		</div>
		</div>
	</section>
	<div class="footer">
	</div>

</body>
</html>








