@using MyBlogWebsite.Models.Concrete;
@using MyBlogWebsite.Models.ViewModels;
@model ArticleIndexVM
@{
	ViewData["Title"] = "Anasayfa";
}


<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<style>
		* {
			box-sizing: border-box;
		}

		body {
			font-family: Arial;
			background: #f1f1f1;
			height: 100%;
			overflow: scroll;

		}

		.header {
			padding: 30px;
			font-size: 40px;
			text-align: center;
			background: white;
		}

		.leftcolumn {
			float: left;
			width: 75%;
			max-width: 1000px;
		}

		.rightcolumn {
			float: left;
			width: 25%;
			height: 25%;
			max-width: 500px;
			margin-top: -700px;
		}

		.title {
			border-bottom: 1px solid black;
			padding-bottom: 10px;
			margin-bottom: 20px;
		}

		.article-content {
			width: calc(100% - 300px);
		}

		.topics {
			background-color: white;
			width: 100%;
			padding: 20px;
		}

		.card {
			background-color: whitesmoke;
			padding: 20px;
			margin-top: 20px;
			max-width: 800px;
			max-height: 350px;
			overflow-y: auto;
		}

		.row:after {
			content: "";
			display: table;
			clear: both;
		}

		.footer {
			padding: 20px;
			text-align: center;
			background: #f1f1f1;
			margin-top: 20px;
		}

		#renk {
			color: #001f3f;
		}

		#trends{
			text-align: center;
			
			color: red;
		}
		
	</style>
</head>
<body>

	<div class="header">
		<h2 style="text-shadow: 2px 2px gold;"><i>Raco's Bilgi Evi</i></h2>
	</div>

	@if (User.Identity.IsAuthenticated)
	{

		<section>
			@foreach (var article in Model.Articles)
			{
				<div class="leftcolumn">
					<div class="card">
						<div class="title">
							<h2 class="text-center" id="renk">@article.ArticleTitle</h2>
						</div>

						<p>@article.Content</p>

					</div>
				</div>

			}
		</section>
	}
	else
	{

		<section>
			@foreach (var article in Model.Articles)
			{
				<div class="leftcolumn">
					<div class="card">
						<div class="title">
							<h3 class="text-center" id="renk">@article.ArticleTitle</h3>
						</div>
						<p>
							@for (int i = 0; i < 9; i++)
							{
								<i>
									Yazarlarımızın paylaşımlarını ciddiye alıyoruz. İlgilendiğiniz makaleyi okumak istiyorsanız lütfen giriş yapınız.<br />
								</i>
							}
						</p>
					</div>
				</div>
			}
		</section>
	}
	<section>
		<div class="rightcolumn">
			<div class="card">
				<h2 class="text-center">Hakkımda</h2>
				<br />
				<p><i>Bu internet sayfası BilgeAdam Boost sürecinde final projesi öncesinde tasarlayıp kodladığım "Kişisel Blog" konulu bir MVC projesidir.</i></p>
			</div>

			<div class="card">
				
				<h3 class="text-center">Trend Konular</h3>
				<br />

				@foreach (var topic in Model.Categories)
				{
					<div id="trends"> <a id="trends" class="text-center btn btn-outline-warning"asp-route-id="@topic.Id" asp-controller="Category" asp-action="Index">@topic.CategoryName</a></div>
					<br>
				}
			</div>

			<div class="card">
				<h3 class="text-center">Popüler Kullanıcılar</h3>
				<br />
				<div <a href="#" class="text-center btn-outline-secondary">Ege</a></div><br>
				<div <a href="#" class="text-center btn-outline-secondary">Racos</a></div><br>
				<div <a href="#" class="text-center btn-outline-secondary">Admin</a></div><br>
			</div>
		</div>
		</div>
	</section>
	<div class="footer">
	</div>

</body>
</html>
