@using MyBlogWebsite.Models.Concrete;
@model IEnumerable<Article>


<h2>İlgili Makaleleriniz</h2>

@if (Model.Any(x => x.Content != null))
{
	<div class="row">
			@foreach (var article in Model)
			{
				<div class="col-md-4">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">@article.ArticleTitle</h4>
						</div>
						<div class="card-body">
							<p class="kart-content">@(article.Content.Length > 250 ? article.Content.Substring(0, 250) + "..." : article.Content)</p>
							<p class="card-info">
								Görüntülenme Sayısı: @article.TotalReadCount<br>Ortalama Okuma Süresi: @article.RequiredMinuteToReadEntireArticle
							</p>

							<a asp-action="Inspect" asp-controller="Article" asp-route-id="@article.Id" class="btn btn-outline-dark read-more-btn">İlgili Makaleye Git</a>
						</div>
					</div>
				</div>
			}
		</div>
}
else
{
	<h4><i>Bu konuda bir makale eklenmemiş görünüyor.</i></h4>
}
